* {

    a {
        text-decoration: none !important;
    }

    li {
        list-style: none;
    }
}

.ff-title {
    font-family: 'Noto Serif TC';

}

.ff-content {
    font-family: 'Noto Sans TC';
}

.border-lg {
    @include border-lg;
}

.border-bottom-lg {
    @include border-lg;
    border-top: 0 !important;
    border-right: 0 !important;
    border-left: 0 !important;
}

.border-md {
    @include border-md;
}

.btn-primary {
    &:hover {
        color: $secondary !important;
    }
}

.display-title {
    @include border-lg;
    display: flex;
    justify-content: space-between;
    text-align: center;

    @include pad {
        h3 {
            font-size: 24px !important;
        }

        h4 {
            font-size: 16px !important;
        }
    }
}


.swiper-slide {
    width: auto;
    font-family: 'Noto Serif TC';
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 3.2px;
    color: $secondary !important;
    // overflow: hidden;
    // white-space: nowrap;

    @include pad {
        font-size: 16px;
    }
}

.swiper-wrapper {
    transition-timing-function: linear;
}


.rotate-2 {
    transform: rotate(2deg);
}

.rotate--2 {
    transform: rotate(-2deg);
}

.btn-secondary {
    @include border-md;
    background-color: $light !important;
    color: $primary !important;

    &:hover {
        background-color: $primary !important;
        color: $secondary !important;
    }

}

.btn-short {
    @include pad {
        display: none;
    }
}

.progress{

    &-list{
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:before{
            position: absolute;
            content: "";
            width: 85%;
            height: 1px;
            background-color: $dark;
            left: 50%;
            top: 24px;
            transform: translate(-50%, -50%);
            @include pad{
                top: 16px;
 
            }
        }
    }

    &-item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 999;
    }

    &-number{
        background-color: $light;
        border: 1px solid $primary;
        width: 48px;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        font-family: 'Noto Serif TC';
        font-weight: bold;

        &-active{
            background-color: $primary !important;
            color: $secondary !important;
        }
    }
    
    @include pad{
        &-number{
            width: 32px;
            height: 32px;
            font-size: 16px;
        }   
    }
}
