* {

    a {
        text-decoration: none !important;
    }

    li {
        list-style: none;
    }
}

.ff-title {
    font-family: 'Noto Serif TC';

}

.ff-content {
    font-family: 'Noto Sans TC';
}

.btn-primary {
    &:hover {
        color: $secondary !important;
    }
}

.display-title {
    border: 3px solid $primary ;

    @include pad {
        border: 2px solid $primary;

        h3 {
            font-size: 24px !important;
        }

        h4 {
            font-size: 16px !important;
        }
    }
}



.ticker {
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 3.2px;
    color: $secondary !important;
    overflow: hidden;
    white-space: nowrap;

    @include pad {
        font-size: 16px;
    }
}

.rotate-2 {
    transform: rotate(2deg);
}

.rotate--2 {
    transform: rotate(-2deg);
}