<nav
    class="navbar navbar-expand-lg navbar-light bg-light sticky-top justify-content-between py-12 py-sm-24 border-bottom border-primary border-3">
    <div class="container">
        <div class="w-100 d-flex justify-content-between align-items-center flex-nowrap">
            <div class="d-flex align-items-center">
                <a class="navbar-brand d-flex align-items-center me-24 me-sm-48" href="../pages/index.html"><img
                        class="me-0 me-sm-16 align-middle"
                        src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/logo.png?raw=true"
                        alt="logo">
                    <h2 class="fs-32 me-4">7TAO</h2> <span class="fs-16 fw-bold align-top">活動訂票網</span>
                </a>
                <form class="d-flex me-24 me-md-0 border-2">
                    <input
                        class="form-control me-2 bg-light rounded-0 border-primary border-2 text-placeholder ff-content ps-12 py-8 ps-md-24 py-md-16"
                        type="search" placeholder="探索活動" aria-label="Search">
                    <button class="btn btn-primary rounded-0 " type="submit"><i class="icofont-search-1"></i></button>
                </form>
            </div>

            <div>
                <button class="navbar-toggler border-primary" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
        <div class="collapse navbar-collapse pt-24 pb-12" id="navbarSupportedContent">
            <ul class="navbar-nav justify-content-end mb-2 mb-lg-0 border-primary border-2">
                <li class="nav-item me-0 me-sm-24 mb-16 mb-sm-0">
                    <a class="nav-link" aria-current="page" href="#"><i class="icofont-ui-file me-4"></i>REGISTER</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="icofont-ui-user me-4"></i>LOGIN</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

