.navbar-brand{
  img{
    width: 55px;
    height: 55px;
  }
}

@media (max-width: 576px){
  .navbar-brand{
    img{
      width: 44px;
      height: 44px;
    }

    h2, span{
      display: none !important;
    }
  }
}