.index-title {
  font-size: 100px;
}

@mixin test{
  color: $secondary;
}

@mixin test2($ocacity){
  background-color: $primary;
  opacity: $ocacity;
}

.test{
  padding: 40px;
  @include test;
  @include test2(.1)
}