.carousel {
    &-img {
        width: 100%;
        height: 518px;
        background-image: url(https://github.com/hd1313169/hex_fe_week6_2023/blob/main/assets/images/banner.png?raw=true);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h3 {
            font-size: 60px;
        }

        h4 {
            font-size: 24px;
        }
    }

}

@media (max-width: 576px) {

    .carousel {
        &-img {
            height: 350px;

            h3 {
                font-size: 32px;
            }

            h4 {
                font-size: 18px;
            }

            p {
                display: none;
            }
        }
    }
}

.cate{
    &-item{
        width: 100%;
        height: 196px;

        &:hover{
            background-color: $secondary;
            a{
                color: $primary;
            }
        }
    }
    &-img{
        width: 80px;
        height: 80px;
    }
}
