.carousel {
    &-img {
        width: 100%;
        height: 518px;
        background-image: url(https://github.com/hd1313169/hex_fe_week6_2023/blob/main/assets/images/banner.png?raw=true);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h3 {
            font-size: 60px;
        }

        h4 {
            font-size: 24px;
        }
    }

}

@media (max-width: 576px) {

    .carousel {
        &-img {
            height: 350px;

            h3 {
                font-size: 32px;
            }

            h4 {
                font-size: 18px;
            }

            p {
                display: none;
            }
        }
    }
}

.cate {
    &-item {
        width: 100%;
        height: 196px;

        &:hover {
            background-color: $secondary;

            a {
                color: $primary;
            }
        }
    }

    &-img {
        width: 80px;
        height: 80px;
    }
}


.recent {
    &-item {

        img {
            height: 255px;
            object-fit: cover;
        }

        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
            margin-bottom: 48px !important;
        }

        @include desktop {

            h5 {
                font-size: 40px !important;
            }
        }

        @include laptop {

            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4) {
                margin-bottom: 48px !important;
            }
        }

        @include pad {
            h5 {
                font-size: 32px !important;
            }

            h6 {
                font-size: 18px !important;
            }

            img {
                height: 210px;
                object-fit: cover;
            }

            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4),
            &:nth-child(5) {
                margin-bottom: 24px !important;
            }

            &:last-child {
                margin-bottom: 0 !important;
            }
        }

    }

    &-btn {
        img {
            width: 24px;
            height: 24px;

            @include pad {
                width: 20px;
                height: 20px;
            }
        }
    }
}

.online {
    &-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &-title {
        font-size: 32px;

        @include pad {
            font-size: 18px !important;
        }
    }
}



.album {

    &-item {
        position: relative;
        border: 2px solid $primary;
        padding: 16px 16px 48px 16px;
        margin: 0 auto;
        text-align: center;


        p {
            position: absolute;
            background-color: $white;
            padding: 8px 16px;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%) rotate(-4deg);
        }

        img {
            width: 100%;
            height: 274px;
            object-fit: cover;
        }

        @include pad {
            padding: 12px 12px 32px 12px;

            img {
                width: 100%;
                height: 267px;
            }
        }
    }
}

.follow {
    &-item {
        width: 50%;

        &:first-child {
            margin-right: -2px;
        }

        @include pad {
            width: 100%;

            &:first-child {
                margin-right: 0px;
                margin-bottom: 24px;
            }
        }


    }

    &-title {
        padding: 16px 32px;
        border-bottom: 2px solid $primary;
        font-style: 32px;
        font-family: 'Noto Serif TC';
        font-weight: bold;

        @include pad {
            padding: 16px 24px;
        }
    }

    &-body {
        padding: 32px;

        @include pad {
            padding: 16px 12px;
        }
    }
}