.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

nav {
    z-index: 4000;
}

.logo {
    height: 52px;

    @media screen and (min-width: 768px) {
        height: 80px;
    }
}

.hasLine {
    position: relative;

    @media screen and (min-width: 768px) {
        &:after {
            position: absolute;
            content: "";
            width: 1px;
            height: 600px;
            background-color: $dark;
            bottom: -600px;
            right: -1px;
            transform: rotate(60deg);
            transform-origin: top right;
        }
    }
}

.bg-test-header{
    object-fit: cover !important;
    height: 210px;
}

.projectList {
    &-img {
        min-height: 400px;
        object-fit: cover;
    }

    &-item {
        &-img {
            width: 100%;
            min-height: 354px;
            object-fit: cover;
            border-radius: 16px;

            @media screen and (min-width: 768px) {
                width: 66%;
            }
        }

        &-body {
            width: 100%;

            @media screen and (min-width: 768px) {
                width: 33%;
            }
        }

        &-content {
            width: 100%;

            @media screen and (min-width: 768px) {
                width: auto;
            }
        }
    }
}

.w-66 {
    width: 66.66%;
}

.w-33 {
    width: 33.33%;
}

.btn {
    &:active {
        border: none !important;
    }

    &:focus {
        border: none !important;
    }
}

.menu {
    &-link {
        position: relative;

        &:hover {
            color: $dark !important;

            &:before {
                position: absolute;
                content: "";
                width: 8px;
                height: 8px;
                background-color: $white;
                outline: 6px solid $hovering;
                border-radius: 100px;
                top: 50%;
                left: -24px;
                transform: translateY(-50%);
            }
        }
    }
}

.bg-cta {
    background-image: url(../assets/images/cta-bg.png);
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;

    @media screen and (min-width: 768px) {
        background-position: center;
    }

    &-dark {
        width: 100%;
        @media screen and (min-width: 768px) {
            width: 51%;
            background-color: rgba($color: #000000, $alpha: .25);
        }
    }
}

.button-primary {
    &:hover {
        background-color: $dark !important;
        color: $white !important;
    }

    &-light {
        &:hover {
            background-color: $white !important;
            color: $dark !important;
        }
    }
}

.button-social {
    position: relative;

    &:hover {
        background-color: $dark !important;

        a {
            color: $white !important;
        }
    }
}