<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>7TAO 活動訂票網</title>
  <link rel="shortcut icon" href="../assets/images/7TAO.ico" />
  <link rel="stylesheet" href="myProjects/webProject/icofont/css/icofont.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&family=Yeseva+One&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="../assets/icofont/icofont.min.css">

</head>

<body>
  <div class="bg-light">
    <%- include('./layout/header'); -%>
      <div class="container">
        <div class="info">
          <div class="row">
            <div class="col-12 col-lg-10">
              <div class="border-rwd p-12 p-lg-24 mb-8 mb-lg-0">
                <img class="w-100"
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/event/09.jpg?raw=true"
                  alt="event">
              </div>
            </div>
            <div class="col-12 col-lg-2">
              <div class="info-time">
                <h2 class="border-rwd py-24 py-lg-32 me-8 me-lg-0 mb-lg-24">2023</h2>
                <div class="info-date border-rwd py-12 py-lg-48">
                  <div>
                    <h3 class="mb-lg-8">MAY</h3>
                    <h3 class="">19</h3>
                  </div>
                  <div class="slash my-lg-16 mx-40 mx-lg-0"></div>
                  <div>
                    <h4 class="mb-lg-4">12:00</h4>
                    <h4 class="mb-lg-4">｜</h4>
                    <h4>20:00</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%- include('./layout/footer'); -%>
  </div>
  <script type="module" src="../main.js"></script>
</body>

</html>