<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>7TAO 活動訂票網</title>
  <link rel="shortcut icon" href="../assets/images/7TAO.ico" />
  <link rel="stylesheet" href="myProjects/webProject/icofont/css/icofont.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&family=Yeseva+One&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="../assets/icofont/icofont.min.css">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20,400,0,0" />
</head>

<body>
  <%- include('./layout/header'); -%>
    <div class="bg-light">
      <div class="container">
        <!-- 輪播banner -->
        <div id="carouselExampleControls" class="carousel slide pt-16 pt-md-32" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="carousel-img px-40 px-sm-48 pt-16 pt-sm-40 pb-24">
                <div class="row">
                  <div class="col-6 col-md-4">
                    <h3 class="text-white">19 MAY 2023</h3>
                  </div>
                </div>
                <div class="row justify-content-center carousel-content text-white text-center">
                  <div class="col-12 col-sm-8">
                    <h4 class="mb-0 mb-sm-16 fw-bold">隔牆有耳-沒有草東的派對</h4>
                    <p>你各位聽團仔們！每次想跟朋友一起聽草東專場卻每一次都搶不到票？「草東沒有派對」永遠都是「草東沒有門票」！
                      帶上啤酒、野餐墊，讓我們在Live House外面一起開場「沒有草東的派對」吧！</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="carousel-img px-40 px-sm-48 pt-16 pt-sm-40 pb-24">
                <div class="row">
                  <div class="col-6 col-md-4">
                    <h3 class="text-white">25 NOV 2024</h3>
                  </div>
                </div>
                <div class="row justify-content-center carousel-content text-white text-center">
                  <div class="col-12 col-sm-8">
                    <h4 class="mb-0 mb-sm-16 fw-bold">隔牆沒耳-有草東的派對</h4>
                    <p>你各位聽團仔們！每次想跟朋友一起聽草東專場卻每一次都搶不到票？「草東沒有派對」永遠都是「草東沒有門票」！
                      帶上啤酒、野餐墊，讓我們在Live House外面一起開場「沒有草東的派對」吧！</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <!-- 輪播banner end-->

        <!-- 活動分類 -->
        <div class="py-48">
          <div class="row flex-wrap">
            <div class="col-md-2">
              <div
                class="cate-item px-58 py-35 d-flex flex-column align-items-center border border-primary border-2 position-relative mb-8 mb-sm-24">
                <img class="cate-img mb-8 mb-sm-12"
                  src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/053bcf3afe88348b79971d2ea8de28f179cba5c5/2023week6/cate01.svg"
                  alt="演出">
                <a href="#" class="text-center fs-24 fw-bold text-center stretched-link">演出</a>
              </div>
            </div>


          </div>


        </div>
        <!-- 活動分類 end-->

        <!-- 近期活動 -->
        <div
          class="display-title d-flex justify-content-between align-items-center border border-3 border-primary px-12 px-md-32 py-16 py-md-24 mb-24 mb-md-32">
          <h3 class="fs-64">RECENT</h3>
          <h4 class="fs-32 fw-bold">近期活動</h4>
        </div>
        <div class="row mb-32 mb-md-60">
          <!-- 活動項目1 -->
          <div class="col-12 col-md-6 col-lg-4 recent-item">
            <h5 class="fs-48 pb-8 pb-md-12 border-bottom border-primary border-3 mb-16 mb-md-12">19 MAY 2023</h5>
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/event/01.jpg?raw=true"
              class="card-img-top" alt="event">
            <div class="card-body py-8 py-md-16 px-0">
              <h6 class="fs-24 fw-bold mb-8 mb-md-12">邪典電影派對——房間</h5>
                <p class="card-text ff-content">你有聽說過「大災難家」裡面的主角 Tommy Wiseau
                  製作的「史上最爛的電影」——房間嗎？在美國甚至演變成一種邪教、一種派對的形式，在電影播放的對著螢幕丟湯匙都...</p>
            </div>
            <div
              class="recent-btn d-flex justify-content-between align-items-center border-top border-bottom border-primary border-2 py-12">
              <a class="d-flex align-items-center">
                <img class="me-4"
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/sparkler.png?raw=true"
                  alt="icon">
                <span class="fw-bold">社群活動</span>
              </a>
              <a href="#" class="fw-bold">開賣中<span class="material-symbols-outlined align-bottom ms-4">
                  keyboard_double_arrow_right
                </span></a>
            </div>
          </div>
          <!-- 活動項目2 -->
          <div class="col-12 col-md-6 col-lg-4 recent-item">
            <h5 class="fs-48 pb-8 pb-md-12 border-bottom border-primary border-3 mb-16 mb-md-12">23 MAY 2023</h5>
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/event/02.jpg?raw=true"
              class="card-img-top" alt="event">
            <div class="card-body py-8 py-md-16 px-0">
              <h6 class="fs-24 fw-bold mb-8 mb-md-12">怪舞俱樂部</h5>
                <p class="card-text ff-content">
                  覺得自己的舞蹈細胞異於常人？每次隨著音樂起舞身邊的人總是露出無法理解的表情？來這裡就對了！來參加這場一起跳舞的聚會，也會在每一次的舞會中選出舞步最怪的...</p>
            </div>
            <div
              class="recent-btn d-flex justify-content-between align-items-center border-top border-bottom border-primary border-2 py-12">
              <a class="d-flex align-items-center">
                <img class="me-4"
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/sparkler.png?raw=true"
                  alt="icon">
                <span class="fw-bold">演出</span>
              </a>
              <a href="#" class="fw-bold">檢視活動<span class="material-symbols-outlined align-bottom ms-4">
                  keyboard_double_arrow_right
                </span></a>
            </div>
          </div>
          <!-- 活動項目3 -->
          <div class="col-12 col-md-6 col-lg-4 recent-item">
            <h5 class="fs-48 pb-8 pb-md-12 border-bottom border-primary border-3 mb-16 mb-md-12">30 MAY 2023</h5>
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/event/03.jpg?raw=true"
              class="card-img-top" alt="event">
            <div class="card-body py-8 py-md-16 px-0">
              <h6 class="fs-24 fw-bold mb-8 mb-md-12">哈利波特馬拉松</h5>
                <p class="card-text ff-content">
                  每次身邊有人開啟哈利波特的話題，自己永遠都是聽不懂的那個麻瓜？看大家在討論魁地奇、用咒語鬥法的時候，自己永遠是陪笑的那個人？穿好你的法袍、帶上你的法杖...</p>
            </div>
            <div
              class="recent-btn d-flex justify-content-between align-items-center border-top border-bottom border-primary border-2 py-12">
              <a class="d-flex align-items-center">
                <img class="me-4"
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/sparkler.png?raw=true"
                  alt="icon">
                <span class="fw-bold">聯誼</span>
              </a>
              <a href="#" class="fw-bold">開賣中<span class="material-symbols-outlined align-bottom ms-4">
                  keyboard_double_arrow_right
                </span></a>
            </div>
          </div>
          <!-- 活動項目4 -->
          <div class="col-12 col-md-6 col-lg-4 recent-item">
            <h5 class="fs-48 pb-8 pb-md-12 border-bottom border-primary border-3 mb-16 mb-md-12">12 June 2023</h5>
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/event/04.jpg?raw=true"
              class="card-img-top" alt="event">
            <div class="card-body py-8 py-md-16 px-0">
              <h6 class="fs-24 fw-bold mb-8 mb-md-12">皮卡丘排球大賽</h5>
                <p class="card-text ff-content">
                  還記得小時候玩的小遊戲嗎？總是有朋友吹噓自己獨孤求敗、只求一敗？是時候該展現真正的實力了！本活動採用瑞士制賽程，以絕對公平的方式進行，是時候該證明自己...</p>
            </div>
            <div
              class="recent-btn d-flex justify-content-between align-items-center border-top border-bottom border-primary border-2 py-12">
              <a class="d-flex align-items-center">
                <img class="me-4"
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/sparkler.png?raw=true"
                  alt="icon">
                <span class="fw-bold">遊戲競賽</span>
              </a>
              <a href="#" class="fw-bold">開賣中<span class="material-symbols-outlined align-bottom ms-4">
                  keyboard_double_arrow_right
                </span></a>
            </div>
          </div>
          <!-- 活動項目5 -->
          <div class="col-12 col-md-6 col-lg-4 recent-item">
            <h5 class="fs-48 pb-8 pb-md-12 border-bottom border-primary border-3 mb-16 mb-md-12">25 June 2023</h5>
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/event/05.jpg?raw=true"
              class="card-img-top" alt="event">
            <div class="card-body py-8 py-md-16 px-0">
              <h6 class="fs-24 fw-bold mb-8 mb-md-12">酒精路跑</h5>
                <p class="card-text ff-content">身邊總是有對自己酒量有高度自信的朋友嗎？拉著他/她一起來參加酒精路跑吧！一起拍下第一杯直到倒下為止的照片，一起喝遍市區內各家極具品味的酒吧。
                </p>
            </div>
            <div
              class="recent-btn d-flex justify-content-between align-items-center border-top border-bottom border-primary border-2 py-12">
              <a class="d-flex align-items-center">
                <img class="me-4"
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/sparkler.png?raw=true"
                  alt="icon">
                <span class="fw-bold">社群活動</span>
              </a>
              <a href="#" class="fw-bold">開賣中<span class="material-symbols-outlined align-bottom ms-4">
                  keyboard_double_arrow_right
                </span></a>
            </div>
          </div>
          <!-- 活動項目6 -->
          <div class="col-12 col-md-6 col-lg-4 recent-item">
            <h5 class="fs-48 pb-8 pb-md-12 border-bottom border-primary border-3 mb-16 mb-md-12">9 July 2023</h5>
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/event/06.jpg?raw=true"
              class="card-img-top" alt="event">
            <div class="card-body py-8 py-md-16 px-0">
              <h6 class="fs-24 fw-bold mb-8 mb-md-12">展覽——我的房間</h5>
                <p class="card-text ff-content">
                  每個人的房間總會有那麼一兩個能代表自己的物事，或許是再平凡不過的牙刷、馬克杯，或許有那些別人的房間從沒出現過的小東西——那些能定義自己的特別的東西。</p>
            </div>
            <div
              class="recent-btn d-flex justify-content-between align-items-center border-top border-bottom border-primary border-2 py-12">
              <a class="d-flex align-items-center">
                <img class="me-4"
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/sparkler.png?raw=true"
                  alt="icon">
                <span class="fw-bold">展覽</span>
              </a>
              <a href="#" class="fw-bold">開賣中<span class="material-symbols-outlined align-bottom ms-4">
                  keyboard_double_arrow_right
                </span></a>
            </div>
          </div>
        </div>
        <!-- 近期活動 end -->
        <!-- 線上活動 -->
        <div
          class="display-title d-flex justify-content-between align-items-center border border-3 border-primary px-12 px-md-32 py-16 py-md-24 mb-24 mb-md-32">
          <h3 class="fs-64">ONLINE</h3>
          <h4 class="fs-32 fw-bold">線上活動</h4>
        </div>
        <div class="row mb-60">
          <div class="col-12 col-md-7 ">
            <img class="online-img "
              src="https://github.com/hd1313169/hex_fe_week6_2023/blob/main/assets/images/online-event.png?raw=true"
              alt="">
          </div>
          <div class="col-12 col-md-5">
            <h4 class="online-title fw-bold pt-12 pt-md-0 pb-8 pb-md-16">切特居批踢</h4>
            <div class="d-flex mb-12 mb-md-32">
              <a href="#" class="event-tag">競賽</a>
              <a href="#" class="event-tag">科技</a>
              <a href="#" class="event-tag">有趣</a>
            </div>
            <p class="ff-content mb-12 mb-md-32">最近網路上很流行的AI程式 ChatGPT，可以用來聊天或是查詢、整理各種資料，不同的應用方式如雨後春筍般冒出來。
              這個活動讓大家把自己最有特色的使用方法提出來讓大家參考，也會投票出最有趣的用法。
              該讓其他人知道自己使用 ChatGPT 的姿勢才是最特別的那個了！</p>
            <a href="#" class="w-100 btn btn-primary rounded-0 ff-content py-16 py-md-8">查看活動詳情<span
                class="material-symbols-outlined align-bottom ms-4">
                keyboard_double_arrow_right
              </span></a>
          </div>
        </div>
        <!-- 線上活動 end-->
      </div>
      <!-- 跑馬燈 -->
      <h5 class="ticker ff-title bg-primary py-16 py-md-24">活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS</h5>
      <!-- 跑馬燈 end-->
      <div class="container">
        <div class="album pt-32 pt-md-48 pb-48 pb-md-60">
          <div class="row justify-content-center">
            <!-- 相簿 1 -->
            <div class="col-11 col-sm-6 col-lg-3">
              <div class="album-item mb-48 mb-lg-0">
                <p class="fw-bold">社群活動</p>
                <img class="mb-12 mb-md-16"
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/album/01.jpg?raw=true"
                  alt="photo">
                <h6 class="fs-18 fw-bold ff-title">無聲派對-閉閉嘴dancing</h6>
                <a href="#" class="stretched-link"></a>
              </div>
            </div>
            <!-- 相簿 2 -->
            <div class="col-11 col-sm-6 col-lg-3">
              <div class="album-item rotate-2 mb-48 mb-lg-0">
                <p class="fw-bold">藝文活動</p>
                <img class="mb-12 mb-md-16"
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/album/02.jpg?raw=true"
                  alt="photo">
                <h6 class="fs-18 fw-bold ff-title">拯救老店大作戰</h6>
                <a href="#" class="stretched-link"></a>
              </div>
            </div>
            <!-- 相簿 3 -->
            <div class="col-11 col-sm-6 col-lg-3">
              <div class="album-item rotate--2 mb-48 mb-lg-0">
                <p class="fw-bold">自我覺察</p>
                <img class="mb-12 mb-md-16"
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/album/03.jpg?raw=true"
                  alt="photo">
                <h6 class="fs-18 fw-bold ff-title">內觀修行-部落篇</h6>
                <a href="#" class="stretched-link"></a>
              </div>
            </div>
            <!-- 相簿 4 -->
            <div class="col-11 col-sm-6 col-lg-3">
              <div class="album-item rotate-2">
                <p class="fw-bold">聯誼活動</p>
                <img class="mb-12 mb-md-16"
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/2023week6/album/04.jpg?raw=true"
                  alt="photo">
                <h6 class="fs-18 fw-bold ff-title">賞櫻野餐</h6>
                <a href="#" class="stretched-link"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 跑馬燈 -->
      <h5 class="ticker ff-title text-end bg-primary py-16 py-md-24">活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS
      </h5>
      <!-- 跑馬燈 end-->
      <!-- 追蹤 -->
      <div class="pt-32 pb-48 py-md-60">
        <div class="container">
          <div class="d-flex flex-wrap">
            <!-- follow -->
            <div class="follow-item border border-primary border-2">
              <h3 class="follow-title">#FOLLOW US</h3>
              <div class="follow-body">
                <p class="ff-content mb-16 mb-md-32">想第一時間獲得新奇有趣的活動資訊？<br>
                  追蹤我們的社群吧！<br>
                  也歡迎你聯繫我們，提供好玩有趣的活動企劃。</p>
                <ul class="m-0 p-0">
                  <li class="mb-16">
                    <a href="mailto:7tao.event@gmail.com"> <i
                        class="icofont-ui-email d-inline-block p-8 me-16 bg-primary text-white"></i>
                      7tao.event@gmail.com</a>
                  </li>
                  <li class="mb-16">
                    <a href="tel:09123123123"> <i
                        class="icofont-ui-email d-inline-block p-8 me-16 bg-primary text-white"></i>
                      09123123123</a>
                  </li>
                  <li>
                    <a href="#"> <i class="icofont-ui-email d-inline-block p-8 me-16 bg-primary text-white"></i>
                      7TAO七逃</a>
                  </li>
                </ul>
              </div>
            </div>
            <!-- subscribe -->
            <div class="follow-item border border-primary border-2">
              <h3 class="follow-title">#subscribe us</h3>
              <div class="follow-body">
                <p class="ff-content mb-16 mb-md-32">訂閱電子報送折價券！<br>
                  定期精選文章資訊及最新優惠資訊，<br>
                  還不通通給我訂閱起來？</p>
                <ul class="m-0 p-0">
                  <li class="mb-16">
                    <a href="mailto:7tao.event@gmail.com"> <i
                        class="icofont-ui-email d-inline-block p-8 me-16 bg-primary text-white"></i>
                      7tao.event@gmail.com</a>
                  </li>
                  <li class="mb-16">
                    <a href="tel:09123123123"> <i
                        class="icofont-ui-email d-inline-block p-8 me-16 bg-primary text-white"></i>
                      09123123123</a>
                  </li>
                  <li>
                    <a href="#"> <i class="icofont-ui-email d-inline-block p-8 me-16 bg-primary text-white"></i>
                      7TAO七逃</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

        </div>
      </div>
      <!-- 追蹤 end-->

    </div>
    <!-- Modal 按鈕 -->
    <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      打開 modal
    </button> -->
    <!-- Modal 元件 -->
    <!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal 標題</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">內容</div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
            <button type="button" class="btn btn-primary">確定</button>
          </div>
        </div>
      </div>
    </div> -->

    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
</body>

</html>